body {
    background-color: #2b2b2b;
    color: #e8e8e8;
    font-family: 'Open Sans', sans-serif;
}

select {
    background-color: #2b2b2b;
    color: #e8e8e8;
    font-family: 'Open Sans',
    sans-serif;
}